<form action="/skills" method="post">
  <h3>Enter a new skill:</h3>
  <input type='text' name='skill[title]'/><br/>
  <textarea name='skill[description]'></textarea><br/>
  <input type='submit' value='submit' class="btn btn-primary">
</form>
